/* navbar background */
.navbar-custom {
    background-color: black;
  }
.nav-logo{
  filter: invert(1);
  width: 22px;
  height: 22px;
}
/* Navbar text color */
.navbar-custom {
  display: flex;
  color: white;
  z-index: 1; /* Ensure the text is above the pseudo-element */
  position: relative;
  justify-content: space-between;
  align-items: center;
}


.nav-link {
  width: 120px;
  position: relative; /* Ensure the pseudo-element is positioned relative to the link */
  color: white;
}

/* Underline effect */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Initial height of the underline */
  background-color: white;
  transition: width 0.3s ease-out; /* Adding a smooth transition effect on width */
}

.nav-link:hover::after {
  width: 100%;
}

.logout-button{
  background-color: #dc3545;
  width: 75px;
  color: #cccfd1;
  font-weight: bolder;
  border: none;
}

[data-theme="dark"] .logout-button{
  background-color: #60d17d;
  width: 75px;
  color: black;
  font-weight: bolder;
  border: none;
}
[data-theme="dark"] .logout-button:hover{
  background-color: red;
  width: 75px;
  color: white;
  font-weight: bolder;
  border: none;
}
[data-theme="light"] .logout-button{
  background-color: black;
  width: 75px;
  color: #cccfd1;
  font-weight: bolder;
}
[data-theme="light"] .logout-button:hover{
  background-color: red;
  width: 75px;
  color: #cccfd1;
  font-weight: bolder;
}